<html>
    <head>
        <meta charset="UTF-8">              
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kickaroo</title>
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/borderless.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

    </head>
    
    <body>
        <div class="site-wrapper">
            <div class="container">                
                <div class="page-header col-md-12">
                    <div class="logo col-md-2">
                         <img id="scaledImage" src="../images/kickaroo.png" alt=""/>
                    </div>

                    <div class="maintitle col-md-8">
                        <h1>Kickaroo</h1>

                    </div>
<div class="navbar navbar-inverse col-md-2">
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Game of the day</a></li>
                 
                        </ul>
                    </div>
                </div>

                </div>

                <div class="navbar navbar-inverse col-md-12">
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                            <li><a href="prototype">News<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                            <li><a href="prototype"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>Merchandise</a></li> 
                            <li><a href="login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login</a></li>  
                            <li><a href="signup"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span> Sign up</a></li>                        
                        </ul>
                    </div>
                </div>
               
                <div class="jumbotron col-md-12" id="introarea">
                    <div class="left-main col-md-2">
                       <ul class="nav navbar-nav navbar-right">
                        <h3> SPORTS</h3>
                        <li><a href="/">A-League<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                        <li><a href="login">AFL<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>

                        <li><a href="login">NRL<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                    </ul>
                    </div>

                    <div class="centre-slider col-md-8">
                  
                    <div class="welcomeslider col-md-12">
                        <p>Kickaroo! The best sports networking site in Australia! </p>
                        <p>Sign up now and engage with the community!</p>
                        <p>Check out or Premium Subscription for access to sweet deals from loads of different retailers and venues!</p>
                       </div>  
                    
                        <div class="slickslider col-md-12">
                          <div><img  class="img-responsive" src="../img/soccer.jpg" alt=""/><div class="slidertxt"><span>EPL Heats up!</span></div></div>
                          <div><img  class="img-responsive" src="../img/beer.jpg" alt=""/><div class="slidertxt"><span>Join one of our many premium events for great deals!</span></div></div>
                          <div><img  class="img-responsive"  src="../img/soo.jpg" alt=""/><div class="slidertxt"><span>State of Origin coming soon!</span></div></div>
                      </div>

                      <div class="col-md-5 col-md-offset-3 ad">
                       <img class= "img-responsive" src="../img/beeeeer.jpg"/>
                       <div class="adotxt">
                        <p>Contact us to put your advertisement here!</p>
                    </div>
                </div>
                
                        <hr>
                    </div>

                    <div class="right-main col-md-2">
                          <ul class="nav navbar-nav navbar-right">
                        <li><a href="login">Please Login to access all features of the site</a></li>
                        <li><a href="/">My Account<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                        <li><a href="login">Latest Forum Replies<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>

                        <li><a href="login">Latest Events<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                    </ul>
                    </div>
          

                        </div>
                                 <footer class="col-md-12 navbar navbar-inverse disclaimerplus">
                  <p> Disclaimer: This is a mock-up site created for the purposes of ELEC3610. It is not a real website.</p>
                  <a href="https://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2F162.243.80.174%3A3000%2F&profile=css1&usermedium=all&warning=1&vextwarning=&lang=en"><img src="../img/valid-css.png" /></a>
                </footer>
                    </div>

                </div>
             
                
        </div>
        
        <!-- Core javaScript files -->
        <script src="../js/jquery.min.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>
        <script type="text/javascript" src="slick/slick.min.js"></script>


         <script type="text/javascript">
    $(document).ready(function(){
      $('.slickslider').slick(
        );
    });
  </script>
    </body>
    
    <style>
    </style>
</html>
