<html>
    <head>
        <meta charset="UTF-8">              
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kickaroo</title>
        <link href="../css/main.css" rel="stylesheet" type="text/css"/>
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/borderless.css" rel="stylesheet" type="text/css"/>
    </head>
    
    <body>
        <div class="site-wrapper">
            <div class="container">                
                <div class="page-header col-md-12">
                    <div class="logo col-md-2">
                         <img id="scaledImage" src="../images/kickaroo.png" alt=""/>
                    </div>

                    <div class="maintitle col-md-8">
                        <h1>Kickaroo</h1>

                    </div>
<div class="navbar navbar-inverse col-md-2">
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Game of the day</a></li>
                 
                        </ul>
                    </div>
                </div>

                </div>

                <div class="navbar navbar-inverse col-md-12">
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                            <li><a href="login">News<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                            <li><a href="retrieve">Events</a></li>
                            <li><a href="signup"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>Merchandise</a></li> 
                            <li><a href="signup"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>Forum</a></li> 
                            <li><a href="signup"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>Login</a></li>                             
                        </ul>
                    </div>
                </div>
               
                <div class="jumbotron col-md-12" id="introarea">
                    <div class="left-main col-md-2">
                       <ul class="nav navbar-nav navbar-right">
                        <h3> SPORTS</h3>
                        <li><a href="/">A-League<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                        <li><a href="login">AFL<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>

                        <li><a href="login">NRL<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                    </ul>
                    </div>

                    <div class="centre-slider col-md-8">
                  

                         <img id="scaledImage" src="../images/slider.jpg" alt=""/>
                         <p>Placeholder Image Slider widget</p>
                         <div class="col-md-5 col-md-offset-3 ad"
                         <em>Advertise here</em>
                     </div>
                   
                        <hr>
                    </div>

                    <div class="right-main col-md-2">
                          <ul class="nav navbar-nav navbar-right">
                        <li><a href="login">Please Login to access all features of the site</a></li>
                        <li><a href="/">My Account<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                        <li><a href="login">Latest Forum Replies<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>

                        <li><a href="login">Latest Events<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                    </ul>
                    </div>
          

                        </div>
                                 <footer class="col-md-12 navbar navbar-inverse disclaimerplus">
                  <p> Disclaimer: This is a mock-up site created for the purposes of ELEC3610. It is not a real website.</p>
                </footer>
                    </div>

                </div>
             
                
        </div>
        
        <!-- Core javaScript files -->
        <script src="../js/jquery.min.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>
    </body>
    
    <style>
    </style>
</html>
